include ../sec-title/sec-title


mixin text-gallery(options={version, page})
	-
		var galleryItems = textGallery[options.version]

	mixin text-list(items)
		-
			var listAlignCls = options.version === 1 ? 'tg__list_left' : '';
			var itemAlignCls = options.version === 1 ? 'tg__list-item_left' : '';
			var linkAlignCls = options.version === 1 ? 'tg__list-link_left' : '';

			var itemColorCls = options.version === 1 ? 'tg__list-item_gray' : '';
			var linkColorCls = options.version === 1 ? 'tg__list-link_gray' : '';

			var itemCls = itemAlignCls + ' ' + itemColorCls;
			var linkCls = linkAlignCls + ' ' + linkColorCls;

		ul(class=listAlignCls).tg__list
			each item, index in items
				li(class=itemCls).tg__list-item
					a(href="", class=linkCls, data-video-link=item.videoId).tg__list-link
						!= item.title

	mixin text-description(items)
		each item in items
			.tg__description
				h2(class=(options.version === 1 ? 'color-pink-dark' : ''))
					!= item.title
				p
					!= item.text

	mixin video-items(items)
		.tg__videos
			//- each item, index in items
				.tg__videos-item(id='gallery_' + options.version + '_video_' + index, data-video-link=item.videoId)


	.tg&attributes(attributes)

		if options.version === 0
			.tg__item.tg__item_list
				+text-list(galleryItems)

			.tg__item.tg__item_center
				+iphone.tg__iphone
					+video-items(galleryItems)
					//- img(src=img + 'people.png').tg__iphone-people

			.tg__item.tg__item_description
				+sec-title('Обучение')
				+text-description(galleryItems)

		if options.version === 1

			.tg__item.tg__item_description
				+sec-title(navList[options.page].name)
				+text-description(galleryItems)

			.tg__item.tg__item_center
				+iphone.tg__iphone
					+video-items(items)
			
			.tg__item.tg__item_list
				+text-list(galleryItems)